 body{
    background-color: #f2feff;
}

img{
    width: 250px;
}

hr{
    
    border-style: dotted none none none;
    border-width: 6px;
    border-color: #dddddd;
    width: 10%;
}
h1,h3 {
    color: #66bfbf;
    font-family: Georgia, Garamond, serif;

}
h1{
    font-size: 2.5em;
    text-shadow: 1px 1px black;
}

h3{
    font-size: 1.17em;
    font-variant: small-caps;  
}

a{
    color: #01a9b4;
    font-variant: small-caps;
}

.workTable{
    border-spacing: 30px 15px;
}
table{
    border-spacing: 30px 10px;
}

th{
    font-variant: small-caps;
    text-align: left;
}